
<html>
    <h1>LISTA-CLIENTES.... working</h1>

    <table border = "1"> 
        <thead>
            <th>NOMBRE</th>
            <th>EMAIL</th>
            <th>CATEGORIA</th>
            <th>PAIS</th>
            <th>CIUDAD</th>
            <th>FECHA CREACION</th>
            <th>EDITAR</th>
            <th>ELIMINAR</th>
        </thead>
        <tbody>
            {% for cliente in cliente_objects %}
                <tr>
                    <td>{{cliente.name_client}} </td>
                    <td>{{cliente.email_client}}</td>
                    <td>{{cliente.category}}</td>
                    <td>{{cliente.country}}</td>
                    <td>{{cliente.city}}</td>
                    <td>{{cliente.user_created}}</td>
                    <td><a href="#"></a>EDITAR</td>
                    <td><a href="#"></a>ELIMINAR</td>
                </tr>
            {% endfor %}
        </tbody>
</table>
<html></html>